<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.screen.dao.UserScreenMapper" >
  <resultMap id="BaseResultMap" type="com.screen.module.UserScreen" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="vip" property="vip" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="crt_user" property="crtUser" jdbcType="VARCHAR" />
    <result column="upd_user" property="updUser" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_screen
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.screen.module.UserScreen" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_screen (name, nick_name, avatar_url, 
      type, vip, crt_time, 
      upd_time, crt_user, upd_user
      )
    values (#{name,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{vip,jdbcType=INTEGER}, #{crtTime,jdbcType=TIMESTAMP}, 
      #{updTime,jdbcType=TIMESTAMP}, #{crtUser,jdbcType=VARCHAR}, #{updUser,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.screen.module.UserScreen" >
    update user_screen
    set name = #{name,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      vip = #{vip,jdbcType=INTEGER},
      crt_time = #{crtTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP},
      crt_user = #{crtUser,jdbcType=VARCHAR},
      upd_user = #{updUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name, nick_name, avatar_url, type, vip, crt_time, upd_time, crt_user, 
    upd_user
    from user_screen
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, nick_name, avatar_url, type, vip, crt_time, upd_time, crt_user, 
    upd_user
    from user_screen
  </select>
</mapper>